################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CellphoneIsWormhole
/obj
/Properties
*.sln
*.mdp
/bin/Debug